<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{range .data}}
<form action="/manege/edit_confirm/{{.ID}}" method="post">
    <input type="hidden" name="id" value="{{.ID}}">
<label for="title">Title</label>
<input type="text" id="title" value="{{.Title}}" name="title">
<label for="year">Year</label>
<input type="text" id="year" value="{{.Year}}" name="year">
<label for="cast">Cast</label>
<textarea name="cast" id="cast" cols="30" rows="10">{{.Cast}}</textarea>
<label for="genre">Genre</label>
<input type="text" id="genre" value="{{.Genre}}" name="genre">
<label for="extract">Extract</label>
<textarea name="extract" id="extract" cols="30" rows="10">{{.Extract}}</textarea>



    <button type="submit">Edit Confirm</button>
</form>
{{end}}
</body>
</html>
