<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PasswordChange</title>
</head>
<body>

{{ .error}}

<form action="#" method="post">
  <label for="old_password">oldPassword</label>
  <input type="text" id="old_password" name="old_password">
  <label for="new_password">NewPassword</label>
  <input type="text" id="new_password" name="new_password">
  <label for="new_passwordConf">NewPasswordConf</label>
  <input type="text" id="new_passwordConf" name="new_passwordConf">
  <button type="submit">change</button>


  <p><a href="location.href='/passwordForget'">パスワードを忘れた方はこちら</a></p>
</form>
</body>
</html>
